@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');

header {
    font-family: "lato", sans-serif;
    background-color: rgb(0, 0, 96);
    color: white;
    text-align: center;
}

#hero-image {
    background-image: url("../images/background.jpg");
    width: 100%;
    height: 800px;
}

#direction-message {
    font-family: "roboto", sans-serif;
    text-align: center;
    color: azure;
    top: 75px;
}