@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');

header {
    font-family: "lato", sans-serif;
    background-color:rgb(0, 0, 96);
    color: white;
    text-align: center;
}